*{
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: sans-serif;
}
h1{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#content{
  width: 100%;
  height: 95%;
  background-image: url("\\");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#foot{
  bottom: 0px;
  width:100%;
  height: 5%;
  display: flex;
  position: absolute;
/*   background-color: white; */
  background: linear-gradient(135deg, rgba(255,255,255,10) 0%, #582FC1 55%, #2c1861 100%);
  box-shadow: 0 8px 16px 7px #582FC1;
  z-index: 99999;
}

img{
  width: 5vh;
  height: 5vh;
  float: left;
/*   vertical-align: center; */
  
}

.pinned{
  display: flex;
  height: 100%;
  width: 3%;
/*   background-color: teal; */
  margin-left: 5px;
  margin-right: 5px;
}
.pinned:hover{
/*   background-color: lightgreen; */
/*   background-color: purple; */
  background-color: #b9a5ee;
  box-shadow: 0 0.5rem 1rem 0.3rem  #7663a4;
  border-radius: 15px
}
.opened{
  background-color: #8cddfa;
  box-shadow: 0 1rem 1rem 0.4rem #3f91ae;
  border-radius: 15px
}
.ELEM{
  z-index: 1;
  height: 40%;
  min-height: 45vh;
  width: 20%;
  min-width: 40vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: none;
  resize: both;
  position: absolute;
  background-color: #003f5a;
  box-shadow: 0 0.5rem 1rem 0.2rem lightblue, 0 0.25rem 0.5rem 0.05rem #582FC1;
}
.max{
  width:100%;
  height:100%;
}
.processHead{
  overflow: none;
  width: 100%;
  height: 5vh;
  top: 50%;
  max-height: 8vh;
  text-align: center;
  /*max-height: 15px;
  min-height: 10px;*/
  /*flex: 0 1 15px;*/
/*   background-color: #582FC1; */
  color: #F5edf8;
  
  background: linear-gradient(270deg, #582FC1 0%, #582fc1 55%, #e6b1f9 100%);
  font-family: sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*cursor: -webkit-grab; cursor: grab;*/
}
.processHead:active{
  cursor: -webkit-grabbing; cursor: default;
}
.processBody{
  overflow: none;
  width: 100%;
  min-height: 90%;
/*   max-height: 100%; */
  height: 90vh;
  /*flex: 1 1 90%;*/
  background-color: white;
  
}
.buttons{
  float: right;
  right: 2%;
  border-radius: 0px;
  width: 8vw;
  height: 4.75vh;
  display: flex;
  min-height: 10px;
/*   font-size: 60vh; */
/*   max-height: 15px; */
/*   max-width: 50px; */
}
.a_button{
  font-size: 100%;
  font-weight: lighter;
  width: 150vw;
  height: 90%;
  cursor: pointer;
  position: relative;
  text-align: center;
  vertical-align: center;
  text-indent: 1vh
  margin-left: 0.2vh;
  background-color: #582fc1;
  color: white;
/*   border-left: 1px solid white;
  border-bottom: 1px solid white; */
}

.close:hover{
  background-color: red;
}

/* .maximise:hover{
  float: center;
  background-color: cadetblue;
} */
.unMaximise:hover, .maximise:hover{
  float: left;
  background-color: #8a6dd4;
}
#clock{
  position: absolute;
  float: right;
  right: 2%;
/*   outline: solid 10px grey; */
/*   outline: solid 10px linear-gradient(90deg,  grey 20%, grey 100%);
  outline-width: 30px; */
/*   background-color: linear-gradient(45deg, black 10%, grey 100%); */
  margin: 13px 0px 2px 15px;
  padding: none;
  font-family: sans-serif;
  font-size: 0.9em;
  color: white;
  opacity: 95%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}